# Supabase Configuration
VITE_SUPABASE_URL=https://migypgckiukmqomucfhj.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1pZ3lwZ2NraXVrbXFvbXVjZmhqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTYwNDcxOSwiZXhwIjoyMDkxMTgwNzE5fQ.S_mE6HaFV1c9lbdVdkmlYyomkCEevOzcQMuZtsV3Viw
# Stripe Configuration
VITE_STRIPE_PUBLISHABLE_KEY=pk_test_51TJcU1LtDXIaoU7FbjQCbioHYurMiIxHe3KsZdNtink2sGNaMF8CrLhY86qOmkrllgmtaMtEFAQCQXBXDpnsy7FI00QIwtYuC4
STRIPE_SECRET_KEY=sk_test_51TJcU1LtDXIaoU7FQxCCvON4Uo53PSl0KyCNQrl63isvDnRktj7diMJzzt0prnXa22pavlPkxoPbiFuaWqSX1ERq00nzkNVdpE
STRIPE_WEBHOOK_SECRET=whsec_Uzi5UTVnRy04eNjjDAT4qhzfzXpOi8LQ